@{
    ViewBag.Title = "Home Page";
}

<br>
<canvas height='480' width='480' id='myCanvas'></canvas>
<br>
<div id="date"></div>
<br>
@Html.DropDownList("Zones", ViewBag.Zones as SelectList)
@section Scripts {
    @Scripts.Render("~/scripts/validate.min.js")
    @Scripts.Render("~/scripts/clock.js")
}